// @mixin playerCard($textColor) {
//     .player_card {
//         width: 200px;
//         position: relative;
//         border-radius: 20px;
//         border: 1px solid black;
//         text-align: center;
//         transition: all ease-in-out 200ms;

//         img {
//             width: 100%;
//             display: block;
//         }

//         p {
//             padding-top: 10px;
//             border-top: 1px solid black;
//             font-family: snes;
//             font-size: 2rem;
//             letter-spacing: .12rem;
//             color: $textColor;
//         }

//         &:hover {
//             cursor: pointer;
//             box-shadow: 0 0 4px 0 rgb(45, 45, 45);
//             transform: translateY(-15px) scale(1.05);
//         }
//     }
// }
@mixin playerCard($textColor) {
    .playerCard {
        width: 200px;
        height: 243px;
        position: relative;
        border-radius: 16px;
        text-align: center;
        transition: all 0.5s;

        &__pict {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        &__name {
            padding-top: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8px;
            font-family: snes;
            font-size: 2rem;
            letter-spacing: .12rem;
            color: $textColor;
            transition: transform 0.5s;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            transform: translateY(-15px) scale(1.05);

            p {
                transform: translate(0px, -20px);
            }

            &::before {
                opacity: 1;
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 16px;
            opacity: 0;
            transition: all 0.5s;
            background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(./assets/CharacterBackground.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -10;
            border-radius: 16px;
        }
    }
}