$primary-blue: #08415C;
$primary-white: #FFFCF2;
$primary-red: #BC101F;
$hover-red: #ff0015;

// SPACING
$spacing-x-sm: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-big: 20px;
$spacing-x-big: 24px;
$spacing-xx-big: 28px;
$spacing-xxx-big: 32px;
$spacing-lg: 36px;
$spacing-x-lg: 40px;
$spacing-xx-lg: 52px;
$spacing-xxx-lg: 64px;
$spacing-huge: 80px;
$spacing-x-huge: 100px;