@use './scss/abstracts/mixin'as mx;
@use './scss/abstracts/variables'as v;

@font-face {
    font-family: "snes";
    src: url("./fonts/snes/SNES\ Italic.ttf");
    font-weight: italic;
}

main {
    .intro {
        margin-bottom: 70px;
        padding: 30px 0;
        display: block;
        text-align: center;

        &__title {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: snes;
            font-size: 2.5rem;
            letter-spacing: .12rem;
            color: v.$primary-white;
        }

        &__shortcuts {
            display: flex;
            flex-direction: column;
            gap: 70px;

        }

        &__formSearch {
            padding: 0 15px;

            &-input {
                width: 100%;
                min-width: 220px;
                max-width: 400px;
                padding: 10px 20px;
                outline: none;
                border: none;
                border-radius: 200px;
                font-size: 1.2rem;
                transition: all 30ms ease-in-out;

                &:hover {
                    border-color: v.$hover-red;
                }
            }
        }

        &__btns {
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 100px;

            @media screen and (max-width: 800px) {
                gap: 20px;
            }

            &-btn {
                width: 100%;
                min-width: 164px;
                max-width: 300px;
                padding: 15px;
                border: none;
                border-radius: 300px;
                font-size: 1.5rem;
                font-weight: 600;
                background-color: v.$primary-red;
                transition: all ease-in-out 200ms;

                &:hover {
                    cursor: pointer;
                    background-color: v.$hover-red;
                }
            }
        }
    }

    .topPlayers {
        text-align: center;

        &__title {
            font-family: snes;
            font-size: 2.5rem;
            letter-spacing: .12rem;
            color: v.$primary-white;
        }

        &__top-picks {
            width: fit-content;
            margin: 0 auto;
            padding: 30px 20px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 80px;

            @include mx.playerCard(v.$primary-white);

            @media screen and (max-width: 800px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            // Dealing with 2 orphan items
            .playerCard:last-child:nth-child(3n - 1) {
                grid-column-end: -2;
            }

            .playerCard:nth-last-child(2):nth-child(3n + 1) {
                grid-column-end: 4;
            }

            // Dealing with single orphan
            .playerCard:last-child:nth-child(3n - 2) {
                grid-column-end: 5;
            }

            .playerCard {
                grid-column: span 2;
            }
        }
    }
}