@use './scss/abstracts/variables'as v;

@font-face {
    font-family: "snes";
    src: url("./fonts/snes/SNES\ Italic.ttf");
    font-weight: italic;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

#root {
    display: grid;
    grid-template-rows: 70px auto;
}