@use './abstracts/mixin'as mx;
@use './abstracts/variables'as v;


.search {
    width: 100%;
    margin-top: 32px;

    &__form {
        padding: 0 15px;
    }

    &__input {
        width: 100%;
        min-width: 220px;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px 20px;
        display: block;
        outline: none;
        border: none;
        border-radius: 200px;
        font-size: 1.2rem;
        transition: all 30ms ease-in-out;

        &:hover {
            border-color: v.$hover-red;
        }
    }
}

.playersContainer {
    width: 70%;
    margin: 64px auto 0;

    .playersGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        justify-items: center;

        @include mx.playerCard(v.$primary-white);
    }
}